* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
    outline: none;
    text-decoration: none;
    transition: 0.2s linear;
}

/*main*/

.container{
    background-color: rgb(241, 241, 241);
    height: 100vh;
    width: 100vw;
}

.main{
    min-height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    background-color: rgb(44, 44, 44);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;

}

form{
    border: 0px;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.log-in{
    color: #20504a;
}
.form-group{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.form-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.form-group input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #fff;
}
.form-group ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.form-group2{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.form-group2 label{
    position: absolute;
    left: 5px;
    color: #fff;
    font-size: 1em;
}

.form-group2 input ,.form-group2 select{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 10px 35px 0 5px;
    color: #fff;
}

option{
   color: rgb(44, 44, 44);
}

.form-group3{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

 .form-group3 h3{
    left: 5px;
    color: #fff;
    font-size: 1em;
}

.radio-group{
    margin-right: 10px;
    padding-right: 15px;
}

.form-group3 label{
    position: absolute;
    color: #fff;
    font-size: 1em;
   padding-top: 40px;
}

.form-group3 input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 10px 35px 0 5px;
    color: #fff;
}

.form-group4{
    position: relative;
    width: 310px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
/*
.buttons {
    margin-top: 50px;
}

.btn {
    background-color: #2575fc;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn a {
    text-decoration: none;
    color: inherit;
}

.btn:hover {
    background-color: #6a11cb;
    transform: translateY(-3px);
}*/
.radio-group {
    display: inline-block; /* Exibe os grupos de rádio em linha */
    margin-right: 20px; /* Espaçamento entre os grupos de rádio */
}