

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

input[type="text"], select {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    margin: 0 auto;
    display: block;
}

button {
    background-color: #2575fc;
    border: none;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 1.2em;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: #6a11cb;
    transform: translateY(-3px);
}

.btn {
    width: calc(100% - 20px);
    margin: 0 auto;
}